* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

@media (min-width: 1025px) {
  body {
    background-color: #f3f5f7;
    margin: 30px;
  }

  header {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    gap: 15.5%;
    /* margin-bottom: 60px; */
    background-color: #ffffff;
    padding: 10px;
  }

  .profile {
    display: flex;
    gap: 10px;

    img {
      background-color: white;
      border: 3px solid #f3f5f7;
      border-radius: 50px;
      margin-right: 20px;
    }
  }

  .pro-img {
    margin-right: 20px;
  }

  .search-bar {
    position: relative;
    align-items: center;
    display: flex;
    gap: 10px;

    img {
      /* position: absolute; */
      height: 40px;
      color: #596780;
    }
  }

  .search-box {
    height: 30px;
    border-radius: 8px;
    padding: 4px;
    color: #596780;
    border: 1px solid #9ea6ad;
    background-color: white;
    min-width: 120%;
  }

  .types {
    display: flex;
    gap: 25px;
  }

  .movements {
    margin-top: 20px;
  }

  .model {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 10px 10px;
    gap: 50px;
    color: #3f4042;

    h4 {
      margin-bottom: 20px;
      color: #596780;
      font-weight: 100;
    }

    p {
      color: #596780;
      font-weight: bold;
    }

    img {
        width: 90%;
    }
  }

  .class-model-1 input,
  .class-model-2 input {
    display: flex;
  }

  .suv {
    gap: 10px;
    color: #9ea6ad;
  }

  .navigate {
    display: flex;
    margin-bottom: 30px;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }

  .location {
    background-color: white;
    padding: 10px 8px 10px;
    border-radius: 8px;
  }

  button {
    background-color: #3563e9;
    padding: 20px 20px;
    border: none;
    border-radius: 5px;
    justify-self: center;
  }

  .rent {
    padding: 10px 20px;
    color: white;
    background-color: #3563e9;
    border-radius: 5px;
    border: none;
  }

  /* card section */
  .recomendation {
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    gap: 25px;
  }

  .car-details-sec,
  .car-details-11 {
    background-color: white;
    padding: 8px;
    border-radius: 10px;
  }

  .function-details {
    color: #90a3bf;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;

    span {
      padding: 5px;
      align-items: center;
      font-size: 1rem;
      font-weight: 400;
    }

    img {
      height: 18px;
      width: 18px;
    }
  }

  .car-block {
    margin-top: 40px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;

    img {
      max-width: 20vw;
    }
  }

  .car-11 {
    display: flex;
    justify-content: space-between;
  }

  .car-descript p {
    color: #90a3bf;
    margin-top: 8px;
  }


  .pricing {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .price-1 {
    display: flex;
    flex-wrap: wrap;

    span {
      font-weight: 700;
      font-size: 1.25rem;
      text-align: center;
    }

    p {
      color: #90a3bf;
      text-align: center;
      margin-top: 5px;
    }
  }

  .tag1 {
    text-decoration: line-through;
  }

  .line-end {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;

    p {
      color: #90a3bf;
    }
  }

  /* footer section */
  footer {
    background-color: white;
  }

  .side {
    margin-bottom: 20px;
  }

  .side img {
    margin-bottom: 20px;
  }

  .side p {
    color: #90a3bf;
    width: 250px;
  }

  .footer-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #90a3bf;
    padding-bottom: 10px;
    margin-left: 35px;
  }

  .footer-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
    margin-right: 40px;

    h4 {
      margin-bottom: 20px;
    }
  }

  .sec-1 {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: space-between;
    gap: 100px;
  }

  .doc {
    color: #90a3bf;
    display: flex;
    line-height: 180%;
  }

  .foot-ending {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin: 10px;
  }

  .ending {
    display: flex;
    gap: 40px;
    margin-bottom: 20px;
  }
}



/* mobile */
@media (max-width: 320px) {
  body {
    background-color: #f3f5f7;
    padding: 15px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
  }

  header {
    /* display: flex; */
    align-items: center;
    margin-bottom: 60px;
    gap: 25px;
    background-color: #ffffff;
  }

  .model,
  .profile {
    display: none;
  }

  .rent {
    padding: 10px 20px;
    color: white;
    background-color: #3563e9;
    border-radius: 5px;
    border: none;
    /* margin-top: 20px; */
  }

  .direction {
  }

  .location {
    background-color: white;
    padding: 10px 8px 10px;
    border-radius: 8px;
    margin-bottom: 20px;
  }

  button {
    background-color: #3563e9;
    padding: 20px 20px;
    border: none;
    border-radius: 5px;
    justify-self: center;
  }

  .pop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 30px;

    h3 {
      color: #90a3bf;
    }

    span {
      color: #54a6ff;
    }
  }

  .car-details,
  .car-details-1 {
    background-color: white;
    padding: 8px;
    border-radius: 10px;
    width: 230px;
  }

  .car-11 {
    display: flex;
    justify-content: space-between;
  }

  .car-descript p {
    color: #90a3bf;
    margin-top: 8px;
  }

  .car-block {
    margin-top: 40px;
    margin-bottom: 30px;

    img {
      width: 70vw;
    }
  }

  .functions {
    color: #90a3bf;
    margin-bottom: 20px;

    span {
      padding: 5px;
      align-items: center;
      font-size: 1rem;
      font-weight: bold;
    }

    img {
      height: 14px;
      width: 14px;
    }
  }

  .pricing {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .price-1 {
    display: flex;
    flex-wrap: wrap;

    span {
      font-weight: 700;
      font-size: 1.25rem;
      text-align: center;
    }

    p {
      color: #90a3bf;
      text-align: center;
      margin-top: 5px;
    }
  }

  .tag1 {
    text-decoration: line-through;
  }

  .description {
    display: flex;
    gap: 15px;
    overflow-y: hidden;
  }

  .recomendation {
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(1 7fr);
  }

  .car-details-sec,
  .car-details-11 {
    background-color: white;
    padding: 8px;
    border-radius: 10px;
  }

  .function-details {
    color: #90a3bf;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;

    span {
      padding: 5px;
      align-items: center;
      font-size: 1rem;
      font-weight: 400;
    }

    img {
      height: 14px;
      width: 14px;
    }
  }

  .car-sec1 {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .line-end {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;

    p {
      color: #90a3bf;
    }
  }

  /* footer section */
  footer {
    margin-top: 40px;
  }

  .side img {
    margin-bottom: 20px;
  }

  .side p {
    color: #90a3bf;
  }

  .sec-1 {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: space-between;
  }

  h4 {
    margin-bottom: 10px;
  }

  .doc {
    color: #90a3bf;
    display: flex;
    padding: 5px 10px;
  }
}
