* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

body {
  background-color: #f6f7f9;
  padding: 10px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding-bottom: 10px;
}

.profile,
.rental-summary {
  display: none;
}

main {
}

.rental-summary-11 {
  background-color: white;
  border-radius: 8px;
  padding: 10px;
  margin-top: 10px;

  h3 {
    margin-bottom: 10px;
  }

  p {
    color: #90A3BF;
    margin-bottom: 15px;
  }
}

.car-description {
    display: flex;
    gap: 15px;
    border-bottom: 1px solid  #90A3BF;
    padding-bottom: 25px;
    margin-bottom: 20px;

}

.car-type-22 {
    display: flex;
    flex-direction: column;

    span {
        margin-top: 5px;
    }
}

.car-type img {
    width: 40vw;
    height: 18vh;
}

.total {
    margin-top: 10px;
    margin-bottom: 10px;
}

.sub-total,
.sub-total-1 {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.sub {
    color:  #90A3BF;
}

.promo-code {
    margin-bottom: 20px;
    display: flex;
}

.promo,
.locate {
    min-width: 275px;
    height: 40px;
    border: none;
    border-radius: 10px;
    background-color: #F6F7F9;
    margin-top: 10px;  
}

button {
    background-color: #F6F7F9;
    margin-left: -70px; 
    border: none;
}

.price {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tim {
   font-size: 1.5rem;
}

/* billing section */
.billing-card {
    margin-top: 20px;
}

.detail-container,
.detail-container-2,
.payment-card,
.confirmation-card {
    background-color: white;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.personal-info p,
.personal-info-11 p,
.personal-info-33 p,
.personal-info-44 p,
.credit p {
    margin-top: 10px;
    font-weight: 600;

}

.info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    p {
        color:  #90A3BF;
    }
}

.credit {
    display: flex;
    justify-content: space-between;
}

.check-box-1,
.check-box-2 {
    background-color: #F6F7F9;
    margin-top: 20px;
    border-radius: 10px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    max-width: 275px;
}

.rent {
    padding: 8px 10px;
    color: white;
    background-color: #3563e9;
    border-radius: 5px;
    border: none;
  }