* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

@media (max-width: 1024px) {
    body {
        background-color: #f6f7f9;
        font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
      }
}











/* mobile view */
body {
  background-color: #f6f7f9;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding-bottom: 10px;
  padding-top: 10px;
  padding: 10px;
}

.profile,
.rental-summary {
  display: none;
}

main {
  padding: 10px;
}

.rental-summary-11 {
  background-color: white;
  border-radius: 8px;
  padding: 10px;
  margin-top: 10px;

  h3 {
    margin-bottom: 10px;
  }

  p {
    color: #90a3bf;
    margin-bottom: 15px;
  }
}

.car-description {
  display: flex;
  gap: 15px;
  border-bottom: 1px solid #90a3bf;
  padding-bottom: 25px;
  margin-bottom: 20px;
}

.car-type-22 {
  display: flex;
  flex-direction: column;

  span {
    margin-top: 5px;
  }
}

.car-type img {
  width: 40vw;
  height: 18vh;
}

.total {
  margin-top: 10px;
  margin-bottom: 10px;
}

.sub-total,
.sub-total-1 {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.sub {
  color: #90a3bf;
}

.promo-code {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.promo,
.locate {
  width: 285px;
  height: 40px;
  border: none;
  border-radius: 10px;
  background-color: #f6f7f9;
  margin-top: 10px;
}

button {
  background-color: #f6f7f9;
  margin-left: -70px;
  border: none;
}

.price {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tim {
  font-size: 1.5rem;
}

/* billing section */
.billing-card {
  margin-top: 20px;
}

.detail-container,
.detail-container-2,
.payment-card,
.confirmation-card {
  background-color: white;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.personal-info p,
.personal-info-11 p,
.personal-info-33 p,
.personal-info-44 p,
.credit p {
  margin-top: 10px;
  font-weight: 600;
}

.info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;

  p {
    color: #90a3bf;
  }
}

.credit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}

.check-box-1,
.check-box-2 {
  background-color: #f6f7f9;
  margin-top: 20px;
  border-radius: 10px;
  height: 60px;
  padding: 10px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  gap: 15px;
}

.check-box-11,
.check-box-22 {
  background-color: #f6f7f9;
  margin-top: 20px;
  border-radius: 10px;
  height: 30px;
  padding: 8px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
  font-weight: 500;
}

.rent {
  padding: 8px 10px;
  color: white;
  background-color: #3563e9;
  border-radius: 5px;
  border: none;
}

.credit-card {
  background-color: #f6f7f9;
  padding: 5px;
  padding-bottom: 20px;
  border-radius: 5px;
}

.cvc {
  width: 270px;
  height: 40px;
  border: none;
  border-radius: 10px;
  background-color: white;
  margin-top: 10px;
}

.security {
    padding: 5px;
    margin-top: 20px;

    p {
        color: #90a3bf;
        margin-top: 10px;
    }

    h3 {
        margin-top: 10px;
    }
}

 /* footer section */
 footer {
    margin-top: 40px;
    padding: 10px;
  }

  .side img {
    margin-bottom: 20px;
  }

  .side p {
    color: #90a3bf;
  }

  .sec-1 {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: space-between;
  }

  h4 {
    margin-bottom: 10px;
  }

  .doc {
    color: #90a3bf;
    display: flex;
    padding: 5px 10px;
  }

  .ending-1 {
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .ending {
    display: none;
  }
